/* background and border of bundles: #4ac0c9 */
/* outer circle: #33a7c2 */
/* publisher: #3386b0 */
/* develoer: #426495 */
/* franchise: rgb(75, 67, 114) */
/* game released before 2000: lightgrey */
/* game released before 2000: white */

.node {
  cursor: pointer;
}

.node {
  stroke: rgb(75, 67, 114);
  stroke-width: 1px;
}

.node:hover {
  stroke: white;
  stroke-width: 1px;
}

.node--end {
  fill: lightgrey;
}

.node--end.millennial {
  fill: white;
}

.node--end.bundle {
  stroke: #4ac0c9;
  stroke-width: 2px;
}

.label {
  font-family: sans-serif;
  font-size: 12px;
  text-anchor: middle;
  text-shadow: 0 0.5px 0 white, 0.5px 0 0 white, -0.5px 0 0 white, 0 -0.5px 0 white;
}

.label,
.node--start,
.node--end {
  pointer-events: none;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: sans-serif;
  font-size: 44px;
  font-weight: lighter;
  text-align: center;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}



section.wrapper {
  height: 600px;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  margin-top: 0px;
  border-radius: 20px;
  font-weight: normal;
  /* border: 1px solid black; */
}



section.color-key {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 0px;
  margin-left: 40px;

  font-size: 14px;
}

section.color-key > div {
  display: flex;
  align-items: center;
}

section.color-key > div > div {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid #4b4372;
  background-color: white;
}

section.color-key p {
  padding-left: 10px;
}

#publisher-color {
  background-color: #3386b0;
}

#developer-color {
  background-color: #426495;
}

#franchise-color {
  background-color: #4b4372;
}

#before-2000-color {
  background-color: lightgrey;
}

#after-2000-color {
}

#bundle-color {
  border: 2px solid #4ac0c9;
}

#bundle-color-2 {
  background-color: lightgrey;
  border: 2px solid #4ac0c9;
}

.single-width {
  width: 350px;
}

.double-width {
  width: 300px;
}

.color-key-note {
  font-style: oblique;
}

.key-note-2 {
  margin-top: 5px;
}

#or-statement {
  padding-right: 10px;
}



section.notes {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.note-break {
  margin-top: 40px;
}

.note-header {
  font-style: oblique;
}

ol {
  padding-left: 0px;
  width: 600px;
}

li {
  margin: 10px;
}



#almost-last-link {
  margin-top: 40px;
}

#last-link {
  margin-top: 0px;
}
